#primaryMap {
  padding: 10px;
  height: calc(100vh - 56px);
  background: #838383;
  color: white;
}

#confirmMap {
  height: 200px;
}

#fileExtensionAlert {
  display: none;
  color: red;
}

#fileNoGPSALert {
  display: none;
  color: red;
}

#noFileAlert {
  display: none;
  color: red;
}

.markerIncidentPhoto {
  height: auto;
  width: 200px;
}

#reportListContainer {
  padding: 10px;
  height: calc(100vh - 56px);
  width: auto;
  overflow: scroll;
}

#reportListInner {
}

#reportTable {
}

.container-fluid {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
