/* elements */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* classes */

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.map {
  height: 100%;
}

.map-container {
  flex: 1 1 auto;
  padding: 0;
}

.navbar {
  flex: none;
}

/* ids */

#map-container {
  flex: 1 1 auto;
  padding: 0;
}